@import url(http://fonts.googleapis.com/css?family=Lobster);

#header,
#wrapper {
    position: relative;
}

#contact,
#footer,
#header,
.contact1,
.da-thumbs li a {
    overflow: hidden;
}

.aboutMe h2,
.btn-submit,
.contact1 h2,
nav ul {
    text-transform: uppercase;
}

#contact,
nav ul {
    list-style: none;
}

body,
html {
    margin: 0 auto;
    padding: 0;
    line-height: 1.4;
    background-color: #C8C9CA;
    font-family: Lato, sans-serif;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

/* scroller style */
#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../img/top.png) no-repeat
}

#scrollUp:hover {
    filter: alpha(opacity=90);
    opacity: .7;
}

/* HEADER */

.borderNav {
/*    margin-top: 6%;*/
    background-color: rgba(51, 51, 51, .45);
    display: inline-block;
    text-align: center;
    top: 0;
    left: 50%;
    color: #d9d9d9;
/*    border: 3px solid rgba(0, 0, 0, .25);
    border-radius: 10px;*/
    padding: .4em 2em;
    z-index: 2;
    min-width: 100%;
    height: 830px;
    /*-webkit-text-stroke: 1px black;*/

}

#wrapper {
    max-width: 100%;
    margin: 0 auto;
}


#header {
    width: 100%;
    text-align: center;
    height: 830px;
}


.coverNav,
.layer,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#contact {
    text-align: justify
}

.coverNav {
    right: 0;
    bottom: 0;
    z-index: 1;
}

.layer {
    background-color: rgba(230, 230, 230, .3);
    width: 100%;
    height: 100%;
}

#header h1 {
    margin-top: 8%;
    padding: 8% 5% 0;
    color: rgba(0, 0, 0, .85);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 6.5em;
}

/* video cover */
.media-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.cover {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ABOUT SECTION */

#about {
    padding: 10px 0;
    background-color: #FFF;
    padding: 5px;
}

.about1 {
    margin: 1% auto;
    max-width: 85%;
    height: 100%;
}

.aboutMe h2 {
    margin: 0 auto;
}

.profilePhoto {
    display: block;
    width: 240px;
    height: 240px;
    margin: 0 35px 15px 60px;
    border-radius: 100%;
    padding: 10px;
    float: right;
}

#about p {
    font-size: .95em;
    padding: 5px 25px;
    text-align: justify;
}

p#greeting {
    font-size: 1.2em;
}

/* WORK SECTION */

#work {
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
    background-color: #F2F3F4;
    height: 100%;
}

.work1 {
	text-align: center;
    margin: 0 auto;
    height: auto;
}

.work1 span p {
    margin-top: 22px;
    font-size: 22px;
    font-family: Lobster, cursive;
}

.da-thumbs li {
    margin: 4px;
    background: rgba(144, 144, 145, .55);
    padding: 3px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
    width: 100%;
}

.da-thumbs li a div {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    color: #fff;
}

.fontSize {
    font-size: 22px;
    font-family: Lobster, cursive;
}

/* CONTACT FORM */

#contact {
    background-color: #DEDFE0;
    padding: 0;
    margin: 0;
    font-size: .9em;
}

.contact1 {
    margin: 1% auto;
    width: 85%;
    text-align: center;
}

.contact1 h2 {
    margin: 0 auto;
}

.btn-submit {
    width: 150px;
    float: left;
    margin: 2% 25%;
    padding: 10px 23px;
    color: #4D4D4D;
    font-size: .75em;
    background-color: #AAA6A6;
    border: 1px solid #595959;
}

.btn-submit:hover {
    filter: alpha(opacity=90);
    opacity: .7;
}

.btn-submit-img {
    margin: 0 -15%;
    width: 35px;
    height: 35px;
}

input,
label,
span,
textarea {
    float: left;
    margin: 0 25%;
}

label {
    width: 100%;
    margin: 1% 0 1% 25%;
}

input[type=text],
textarea {
    width: 50%;
    background-color: #F2F3F4;
    color: #4D4D4D;
    border: 1px solid #595959;
}

input,
textarea {
    padding: 1%;
    border: 0;
}

input:focus,
textarea:focus {
    outline: 0;
    border: 1px solid #595959;
}

textarea {
    height: 150px;
    border: 1px solid #595959;
}

.contact1 p {
    clear: both;
    min-height: 25px;
    text-align: left;
}

#footer,
nav {
    text-align: center;
}

#form span.valid {
    background-color: #c0ce51;
    color: #4D4D4D;
}

#form span.error {
    background-color: #b0240f;
    color: #4D4D4D;
}

/* FOOTER */

#footer {
    margin: 0 auto;
    bottom: 0;
    background-color: #C8C9CA;
}

.socialMedia {
    margin: 20px 1px;
}

.socialMedia .fa {
    font-size: 32px;
    margin: 0 2px;
    -o-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -khtml-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
}

.socialMedia .fa:hover {
    color: #CA8CB3;
}

.copyright {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: .8em;
    color: #646465;
}

/* NAVIGATION */

nav ul {
    margin-top: 2%;
    font-size: 1.5em;
}

nav a {
    font-weight: 700;
}

ul li {
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgba(121, 116, 124, .95);
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -khtml-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover {
    text-decoration: none;
    color: rgba(223, 185, 209, .95);
}

nav a,
nav a:visited {
    color: #d9d9d9;
    text-decoration: none;
}

nav a:hover, a:focus {
    filter: alpha(opacity=80);
    opacity: .9;
    text-decoration: none;
    color: rgba(223, 185, 209, .95);
}

/* MEDIA QUERIES */
@media screen and (min-width: 485px) {

    .btn-submit-txt {
        margin: 0 auto;
        font-style: italic;
        font-size: 1em;
        float: left;
    }
}

@media screen and (min-width: 500px) {
    .btn-submit-txt {
        margin: 0 auto;
        font-style: italic;
        font-size: 1em;
        float: left;
    }
}

@media screen and (min-width: 600px) {
    .btn-submit-txt {
        margin-top: -1%;
        margin-left: -10%;
        font-style: italic;
        font-size: 1em;
        float: left;
    }
}


@media screen and (max-width: 1000px) {
    #header {
        width: 100%;
        text-align: center;
        height: 380px;
        background: url(../img/hand-mac.jpg) center no-repeat;
        background-size: cover;
    }

    .cover {
        display: none;
    }

    .profilePhoto {
        margin: 10px 25% 0 25%;
    }

    #header h1 {
        color: #ffffff;
        font-size: 27px;
    }

    h1 img {
        width: 90px;
        height: 106px;
    }

}


