/* ------------- MAIN SECTION ------------- */

html,
body {
	margin: 0 auto;
	padding: 0;
	line-height: 1.5;
	background-color: #f1f1f1;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.1em;
}

.borderNav {
	margin-top: 5%;
	@include transform(translate(-50%, -50%));
	background-color: rgba(0, 0, 0, 0.25);
	display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #FBFCFE;
    border: 5px solid #FBFCFE;
    padding: .5em 3em;
	z-index: 2;

}

.quote {
	color: #F0EBEB;
	font-family: 'IM Fell French Canon', serif;
	font-style: italic;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/* ------------- HEADER SECTION ------------- */

#header {
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 550px;
	background: url('../img/cover.jpg') center no-repeat;
	position: relative;
	background-size: cover; 
	position: relative;
	border-bottom: 2px solid #595959;
}

.coverNav{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
}


.overlay {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	background: url('../img/coverBlurred.jpg') center no-repeat;
	background-size: cover; 
	z-index: 0;
    opacity: 0;
}


.layer {
    background-color: rgba(230, 230, 230, 0.30);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header h1 {
	padding-top: 12%;
}


/* ------------- ABOUT SECTION ------------- */

#about {
	padding: 10px 0;
	background-color: #FFFFFF;
	border-bottom: 1px solid #595959;

}

.about1 {
	margin: 1% auto;
	width: 80%;
}

.aboutMe h2 {
	text-transform: uppercase;
	margin: 0 auto;
}

.profilePhoto {
	width: 300px;
	height: 300px;
	border: 2px solid #595959;
	border-radius: 100%;
}

#about p {
	font-size: 0.95em;
}

section {
	text-align: justify;
}

/* ------------- WORK SECTION ------------- */

#work {
	padding: 10px 0;
	background-color: #F2F3F4;
	border-bottom: 1px solid #595959;
}

.work1 {
	width: 900px;
	margin: 1% auto;
}

/* ------------- CONTACT SECTION ------------- */

#contact {
	padding: 10px 0;
	border-bottom: 1px solid #000;
	background-color: #E9E5E3;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	text-align: justify;
	overflow: hidden;
}

.contact1 {
	margin: 1% auto;
	width: 70%;
	text-align: center;
}

.contact1 h2 {
	text-transform: uppercase;
	margin: 0 auto;
}


/* ------------- FOOTER ------------- */
#footer {
	text-align: center;
	margin: 0 auto;
	bottom: 0;
	background-color: #D2CECC;
	overflow: hidden;
}

.socialMedia {
	float: right;
	margin: 20px 1px;
	padding-right: 20%
}

.socialMedia img {
	width: 45px;
	height: 58px;
	margin: 0 2px;
}

/* icon hover effect */
.socialMedia img:hover {
	    filter: alpha(opacity=90);
		opacity: .7;
}

.copyright {
	margin-top: 2%;
	float: left;
	font-size: 0.8em;
	color: #777777;
	padding-left: 25%;

}


/* ------------- NAVIGATION ------------- */
nav {
	text-align: center;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
	margin-top: 10%;
	font-size: 1.3em;
}

nav a {
	font-weight: 700;
}

ul li {
	display: inline-block;
	padding: 5px 5px;
}

a {
	text-decoration: none;
}

/* link colours */
a {
	color: rgba(121, 116, 124, 0.95);
}

/* nav link */
nav a, nav a:visited {
	color: #E4EBEC;
}
/* navigation hover effect */
nav a:hover {
	    filter: alpha(opacity=80);
		opacity: .9;
}


/* ------------- MEDIA QUERIES ------------- */

@media screen and (min-width: 485px) {

	/*************************
	TWO COLUMN LAYOUT: ABOUT SECTION
	*************************/

.firstColumn {
		width: 40%;
		float: left;
	}

	.secondColulmn {
		width: 55%;
		float: right;
		margin-right: 3.056%;
	}

	.firstColumn,
	.secondColulmn {
		margin-bottom: 55px;
	}

}






















