@media screen and (min-width: 660px) {

	/*************************
	HEADER
	*************************/

	
		#cover-photo {
		width: 100%;
		overflow: hidden;
		height: 700px;
		background: url('../img/cats.jpg') center no-repeat;
		position: relative;
		top: -100px;
		background-size: cover;
		margin-bottom: -55px;
		z-index: 0;
	}


	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		margin-bottom: 1%;
		text-align: right;
		width: 60%;
  		top: 6%;
  		left: 12%;
		position: absolute;
		z-index: 1;

	}

/*	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}*/

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.65em;
		margin-bottom: 20px;
	}

	header {
		/*border-bottom: 3px solid #410d4f;*/
		margin-bottom: 35px;
	}

	nav a.selected, nav a:hover {
		color: #99e7e9;
}
	
}


@media (max-width: 1250px) and (min-width: 730px) {
	#cover-photo {
		width: 100%;
		overflow: hidden;
		height: 720px;
		background: url('../img/cat-lying.jpg') center no-repeat;
		position: relative;
		background-size: cover;
		z-index: 0;
	}

}

/*********************************
REWRITING SOME BOOTSTRAP STYLES
*********************************/

.btn-group-lg>.btn, .btn-lg {
  padding: 15px 40px;
  font-size: 26px;
  line-height: 1.3333333;
  border-radius: 6px;
}





