/*************************
HEADING
*************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0 ;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	margin: 15px 0;
	font-size: 1.75em;
	/*font-weight: normal;*/
	line-height: 1em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	/*font-weight: normal;*/
}


/*************************
NAVIGATION
*************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/* green header */
header {
	background: #11c380;
	border-color: #0b9762; 
}

/* nav background on mobile devises */
nav {
	background: #0b9762;
}

/* logo text*/
h1, h2 {
	color: #fff;
}

/* links */
a {
	color: #11c380;
}

/* nav link */
nav a, nav a:visited {
	color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #73c8a8;
}	
