
@media screen and (min-width: 330px) {
	nav {
		background: none;
		float: right;
		font-size: 0.9em;
		margin-right: 2%;
		width: 25%;

	}

	header {
		border-bottom: 2px solid #848484;
		border-top: 2px solid #848484;
		margin-top: 75;
		margin-bottom: 4%;
	}

	#homeBanner {
	font-size: 1.85em;
	color: rgba(0, 0, 0, 1);
	position: relative;
	right: 100%;
	top: -90%;
	}

}

@media screen and (min-width: 480px) {
	
	/*************************
	TWO COLUMN LAYOUT
	*************************/

	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}


	/*************************
	PAGE: PORTOFOLIO
	*************************/

	#gallery li {
		width: 28.3333%;
	}

	#gallery li:nth-child(4n) {
		clear: left;
	}

	/*************************
	PAGE: ABOUT
	*************************/

	.profile-photo {
		float: left;
		margin: 0 5% 80px 0;
	}

	/*************************
	HOME BANNER
	*************************/
	#homeBanner {
	font-size: 1.75em;
	color: rgba(0, 0, 0, 0.55);
	position: relative;
	right: 230px;
	top: 180px;
	}

}


@media screen and (min-width: 660px) {

	/*************************
	HEADER
	*************************/

	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 2%
		text-align: right;
		width: 25%
	}

	#logo {
		float: left;
		margin-left: 2%
		text-align: left;
		width: 45%
	}

	h1 {
		font-size: 2.5em;
	}

	#homeBanner {
	font-size: 1.75em;
	color: rgba(0, 0, 0, 0.55);
	position: relative;
	right: 420px;
	top: 200px;
	}


	header {
		border-bottom: 4px solid #848484;
		border-top: 4px solid #848484;
		margin-top: 7%;
		margin-bottom: 6%;
	}

	nav a.selected, nav a:hover {
	color: #999999;
}




	
	
}