@media screen and (min-width: 320px) {
	nav {
		background: none;
		float: right;
		font-size: 0.9em;
		margin-right: 1%;
		width: 20%;
		top: -14%;

	}

	header {
		border-bottom: 2px solid #848484;
		border-top: 2px solid #848484;
		margin-top: 50px;
		margin-bottom: 5px;
	}

	#homeBanner {
	font-size: 1.85em;
	color: rgba(0, 0, 0, 0.7);
	position: relative;
	right: 160%;
	top: 95px;
	}


}

@media screen and (min-width: 480px) {
	
	#homeBanner {
	font-size: 1.75em;
	color: rgba(0, 0, 0, 0.55);
	position: relative;
	right: 230px;
	top: 180px;
	}

}


@media screen and (min-width: 600px) {

	nav {
		background: none;
		float: right;
		font-size: 1em;
		margin-right: 1%
		text-align: right;
		width: 25%
	}

	h1 {
		font-size: 2.5em;
	}

	#homeBanner {
		font-size: 1.75em;
		color: rgba(0, 0, 0, 0.55);
		position: relative;
		right: 410px;
		top: 150px;
	}


	header {
		border-bottom: 4px solid #848484;
		border-top: 4px solid #848484;
		margin-top: 7.5%;
		margin-bottom: 2%;
	}

	nav a.selected, nav a:hover {
	color: #999999;
}
	
}

@media screen and (min-width: 1200px) {

	nav {
		background: none;
		float: right;
		font-size: 1em;
		margin-right: 1%
		text-align: right;
		width: 25%
	}

	h1 {
		font-size: 3em;
	}

	header {
		border-bottom: 4px solid #848484;
		border-top: 4px solid #848484;
		margin-top: 6%;
		margin-bottom: 2%;
	}

}
























