/*--------------GENERAL--------------*/
body {
	font-family: 'Alike', 'serif';
}

a {
	text-decoration: none;
}

#wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 2% 2% 2% 2%;
}

.text {
	text-align: justify;
	font-size: 0.95em;
}


/*--------------HEADING--------------*/

header {
	float: left;
	margin: 70px 0 30px 0;
	padding: 5px 0 0 0 ;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
	padding-top: 55px;
	position: absolute;
}

.box1 {
	height: 280px;
	background: url(../img/header1.jpg);
	
}

.box2 {
	height: 280px;
	background: url(../img/header2.jpg);
	
}

.box3 {
	height: 280px;
	background: url(../img/header3.jpg);
	
}

h1 {
	font-family: 'Playfair Display SC', 'serif';
	margin: -120px 0;
	font-size: 1.75em;
	line-height: 1em;
}


#homeBanner {
	font-size: 1.75em;
	color: rgba(0, 0, 0, 0.6);
	position: relative;
	left: 40%;
	top: 55%;
}

/*--------------NAVIGATION--------------*/

nav {
	text-align: center;
	padding: 40px;
	margin: -95px 0 0;
}

li {
	display: none;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
	text-transform: uppercase;
}

/*--------------PAGE: WORK--------------*/

/*--------------PAGE: INFO--------------*/

/*--------------FOOTER--------------*/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	margin-top: 12%;
	padding-top: 1%;
	padding-bottom: 1%;
	bottom: 0;
	color: #686868;
	background-color: #ADADAD;
}

/*-------------- COLORS --------------*/

/* site body */
body {
	background-color: #D1D1D1;
}

/* header color */
header {
	background-color: #656565;
}

/* logo text */
h1{
	color: #656565;
}

/* Banner Text */
h2 {
	color: #909090;
}

/* links */
a {
	color: #656565;
}

/* nav link */
nav a, nav a:visited {
	color: #656565;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #999999;














