/**************** MAIN ****************/

body {
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-size: 1.8em;
	text-align: center;
	line-height: 1;
	color: #4C4C4C;
	margin-top: 5%;

}

h2 {
	font-size: 1.3em;
	text-align: center;
	color: #6F6F6F;
}

h3 {
	font-size: 1em;
	text-align: center;
	color: #8B8B8B;
}

::selection {
	color: #000;
	background: rgba(194, 224, 255, 0.3);
	text-shadow: none;

}

#wrapper {
	margin: 0 auto;
	max-width: 75%;
	margin-bottom: 10px;
	overflow: hidden;
}

p {
	text-align: justify;
	color: #444444;
}

#content {
	padding: 10px;
}

/**************** HEADER ****************/

#header {
	background: #EBEBEB;
	text-align: center;
	overflow: hidden;
	height: 20%;
	width: 100%;
	margin: 0 auto;
}

.upperNav a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.upperNav ul {
	list-style: none;
	font-size: 1em;
}

ul li {
	position: relative;
	display: inline-block;
	padding: 0 10px 0;
}

/* navigation */

.upperNav a {
	text-decoration: none;
	color: #989898;
}

.upperNav a:hover {
    color: 
}

nav a.selected, nav a:hover {
	color: #2C2C2C;
}

/* link colour */
a {
	color: #888888;
	text-decoration: none;
}


/**************** GALLERY ****************/

#gallery {
	margin: 0 auto;
}

.entry {
	width: 230px;
	float: left;
	margin: 10px 30px;
	height: 198px;

}

.figure {
	display: block;
	width: 222px;
	height: 180px;
	margin: 0;
	padding: 5px 5px;
	text-align: left;
	max-width: 50%;
}

.figure img {
	width: 230px;
	height: 150px;
	border: 1px solid #000;
}



/**************** INFO / CONTACT PAGE ****************/

/* Info */

.info {
	text-transform: uppercase;
}

.about {
	text-align: justify;
}

.profilePhoto {
	text-align: center;
}

.profilePhoto img {
	max-width: 100%;
}

#additionalInfo {
	max-width: 100%;
}

.socialMedia img {
	width: 30px;
}

.socialMedia {
	text-align: center;
}

/* Contact Form */

#contact {
	margin-left: -10%;
	margin-right: 10%;
}

.btn-submit {
	width: 150px;
	float: left;
	margin: 2% 25%;
	border: 0;
	padding: 10px 23px;
	color: #4D4D4D;
	font-size: .75em;
	background-color: #AAA6A6;
	text-transform: uppercase;
	border: 1px solid #595959;
}

.btn-submit:hover {
	    filter: alpha(opacity=90);
		opacity: .7;
}

.btn-submit-img {
	margin: 0 -15%;
	width: 35px;
	height: 35px;
}

label, input, textarea, span {
	float: left;
	margin: 0 25%;
}
	
label {
	width: 100%;
	margin: 1% 0 1% 25%;
	text-transform: uppercase;
}
	
input[type=text], textarea {
	width: 70%;
	background-color: #F2F3F4;
	color: #4D4D4D;
	border: 1px solid #595959;
}
	
input, textarea {
	padding: 1%;
	border: 0;
}
	
input:focus, textarea:focus { 
	outline: none;
	border: 1px solid #595959;
}

.required {
}
	
textarea {
	height: 180px;
	border: 1px solid #595959;
}
	
	
#form span.valid {
	background-color :#c0ce51;
	color: #4D4D4D;
}
	
#form span.error {
	background-color:#b0240f;
	color: #4D4D4D;
}

/**************** FOOTER ****************/

#footer {
	background-color: #333333;
	border-top: 1px solid #000;
	padding: 20px 0;
	max-height: 40%;
	text-align: center;
	overflow: hidden;
	clear: both;
	bottom: 0;

}

.footerNav {
	padding: 0 10px 0;
	font-size: 1em;
	float: right;
}

.footerNav a {
	text-decoration: none;
	color: #888888;
	font-family: 'Open Sans', sans-serif;
}

.footerNav a:hover {
    color: #A0A0A0;
}

.copyright {
	float: left;
	padding: 0px 0 0 50px;
	font-size: 0.70em;
    color: #A0A0A0;

}

.copyright2 {
	text-align: center;
	padding: 10px 0 0 50px;
	font-size: 0.70em;
    color: #A0A0A0;

}















