body, div, a {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #F3F3F3;
}

#calculator {
	width: 310px;
	height: 460px;
	margin: 10px auto;
	padding: 5px;
	background-color: #999;
	border: 2px solid #6E6E6E;
	border-radius: 10px;
}

#total {
	height: 70px;
	width: 300px;
	margin: 0;
	margin-bottom: 5px;
	padding: 0 5px;
	background-color: #FFF;
	border-radius: 10px;
	text-align: right;
	font-size: 60px;
}

#numbers, #operators {
	margin: 0;
}

a {
	cursor: pointer;
}

#operators a {
	display: block;
    width: 44px;
    height: 44px;
    float: left;
    padding: 2px;
    margin: 5px 6px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 38px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
    border: 1px solid #6E6E6E;

}


#numbers a {
	display: block;
    float: left;
    text-align: center;
    color: black;
    font-size: 41px;
    text-decoration: none;
    width: 49px;
    height: 49px;
    padding: 10px;
    margin: 5px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
    border: 1px solid #6E6E6E;
}








