html {
    height: 100%;
    background-color: #ffffff;
}

#calculator {
    margin: 30px auto 0;
    padding: 15px;
    width: 276px;
    height: 445px;
    background-color: #98d7dd;
    background: linear-gradient(#A8CDD8, #83BDCF);
    border-radius: 5px;
    box-shadow: 0px 10px #538DA0, 0px 15px 25px rgba(0, 0, 0, 0.35);
}

#total {
    margin: 5px;
    padding: 10px;
    width: 240px;
    height: 60px;
    background: rgba(0, 0, 0, 0.25);
    font-size: 60px;
    color: #e5e2e2;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    text-align: right;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 2.5px 2.5px 3.5px rgba(0, 0, 0, 0.2);
}

.operNum {
    margin-top: 10px;
}

a {
    cursor: pointer;
}

.operators a {
    margin: 0 auto;
    float: left;
    width: 45px;
    height: 45px;
    margin: 6px 6px;
    padding: 5px;
    font-size: 32px;
    background-color: #00A6CF;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0.5px solid #4C4C4C;
    text-align: center;
    box-shadow: 0px 3px #375462, 0px 5px 10px rgba(0, 0, 0, 0.35);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.numbers a {
    float: left;
    width: 45px;
    height: 45px;
    margin: 6px;
    padding: 5px;
    font-size: 32px;
    background-color: #c8eaf0;
    color: #3A3A3A;
    border-radius: 5px;
    border: 0.5px solid #4C4C4C;
    text-align: center;
    box-shadow: 0px 3px #375462, 0px 5px 10px rgba(0, 0, 0, 0.35);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* All clear, clear & equal button colors */
 .operators .allClear {
    background-color: #83A8BA;
    color: #fff;
    box-shadow: 0px 3px #375462, 0px 5px 10px rgba(0, 0, 0, 0.35);
}

.operators .clear {
    background-color: #83A8BA;
    color: #fff;
    box-shadow: 0px 3px #375462, 0px 5px 10px rgba(0, 0, 0, 0.35);
}

.operators .equal {
    background-color: #1a1840;
    color: #FFFFFF;
    box-shadow: 0px 3px #000000, 0px 5px 10px rgba(0, 0, 0, 0.35);
    float: right;
    width: 250px;
    font-weight: bold;
}

/* Hovers on buttons*/
 .operators .equal:hover {
    background-color: #4551dc;
    transition: all 0.35s ease;
}

.operators .clear:hover {
    background-color: #8EB7CC;
    transition: all 0.35s ease;
}

.operators .allClear:hover {
    background-color: #8EB7CC;
    transition: all 0.35s ease;
}

.operators a:hover {
    background-color: #16BCE6;
    transition: all 0.35s ease;
}
.numbers a:hover {
    background-color: #fff;
    transition: all 0.35s ease;
}

/* Pressed simulation */
 .operators a:active {
    box-shadow: 0 0 #7A7A7A;
    top: 4px;
}

.numbers a:active {
    box-shadow: 0 0 #7A7A7A;
    top: 4px;
}