@colors: #30C4C9;
@fontSize: 15px;
@marginAndPadding: 15px;
@paddingBottom: 10px;
@marginTop: 10px;
@textToUppercase: uppercase;
@whiteColour: #FFFFFF;


body {
	width: 100%;
	margin: 0 auto;
	font-family:'Sniglet', cursive;
	margin: 0 auto;
	overflow-x:hidden;

a {
	text-decoration: none;
}

}

.cover-photo img {
	width: 99.99%;
	background: url(../assets/school.jpg) no-repeat;
	float: left;
	margin-top: -350px;	
	height:100%;
	position: relative;
	margin-bottom: -5px;

}


/* Navigation */
.logo-link {
	margin-left: @marginAndPadding;
}

.navigation {
	position: fixed;
	z-index: 1;
	background: #212D44;
	width: 100%;
	padding: 5px;
	font-size: 18px;
	height: 80px;
}

ul li {
	display: inline;
	color: @whiteColour;
	margin: 5px;
}

ul {
	float: right;
	margin-right: @marginAndPadding;
	margin-top: 20px;
}


/* Wrapper */
.wrapper {
	width: 99.9%;
	margin: 0;
	padding: 0;

 img {
	width: 100%;
	margin: 0 auto;
	line-height: 0;
	padding-left: 0;
	padding-right: 0;
	z-index: -1;
}

 a {
	text-transform: @textToUppercase;
	color: @whiteColour;
	font-size: 20px;
}

}


.grayscale-link {
	-webkit-filter: grayscale(60%);
	-webkit-transition: .5s;
    transition: .5s;
}

.grayscale-link:hover {
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s;
    transition: .5s;
}

.pas-support-bg {
	background-color: #D90F5A;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.pas-support p {
	margin-top: @marginTop;
}

.calendar-bg {
	background-color: #0DE5A8;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.calendar p {
	margin-top: @marginTop;
}

.busy-bees-bg {
	background-color: @colors;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.busy-bees p {
	margin-top: @marginTop;
}

.news-bg {
	background-color: #FF6E27;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.news p {
	margin-top: @marginTop;
}

.curriculum-bg {
	background-color: #FFB60B;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.curriculum p {
	margin-top: @marginTop;
}

.first-bg {
	background-color: #4F2958;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.first p {
	margin-top: @marginTop;
}

.children-bg {
	background-color: #212D44;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.children p {
	margin-top: @marginTop;
}

.parents-bg {
	background-color: #88C100;
	padding-bottom: @paddingBottom;
	text-align: center;
}

.parents p {
	margin-top: @marginTop;
}


/* Useful links and Contact Info */
.useful {
	padding-top: @marginAndPadding;
	padding-bottom: 5px;
	background-color: #000000;
	color: @whiteColour;
}

.useful a {
	color: @whiteColour;
	font-size: @fontSize;
}

.useful ol li {
	margin-left: @fontSize;
}

.useful p {
	margin-left: 45px;
	font-size: 18px;
	text-transform: @textToUppercase;
}

.useful ol {
	font-size: @fontSize;
}

.move-down {
	margin-top: 25px;
}

ol li {
	list-style-type: none; 
}


.toUppercase {
	text-transform: @textToUppercase;
}


/* Footer */
footer {
	padding: @marginAndPadding;
	background-color: #005BC5;
	color: @whiteColour;
}


.social a {
	font-size: 25px;
	margin: 5px 10px;
}

