/* GENERAL */
body {
	max-width: 100%;
	background-color: #E7E1E1;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
}

a {
	color: #7D9DD2;
}

/* Buttons */
nav {
	max-width: 100%;
	margin-bottom: -75px;
}


.buttons {
	position: relative;
	text-align: right;
	margin: 0 6%;
    top: 240px;
    z-index: 1;
}

.btn {
	padding: 10px 25px;
	margin: 5px;
	font-size: 21px;
}

.btn-default {
	color: #D0C6C6;
	background-color: #422A20;
	border-color: #75635C;
	-webkit-transition: .5s;
	transition: .5s;
}

.btn.focus, .btn:focus, .btn:hover {
	background-color: #339966;
	text-decoration: none;
	-webkit-transition: .5s;
	transition: .5s;
}
/* Cover Photo */
.cover-photo {
	width: 100%;
	height: 550px;
	background: url('../img/adorable-cat.jpg') center no-repeat;
	position: relative;
	background-size: cover;
	border-bottom: 1px solid #E0E0E0;
	z-index: 0;

}

.wrap {
	max-width: 750px;
	padding: 25px 0;
	margin: 0 auto;
}

h2 {
	color: #422A20;
	text-align: center;
	margin: 10px 0 15px;
	padding: 5px 0 10px 0;
	font-weight: 700;
}

/* HEADER */
header {
	width: 100%;
	/*background-color: #55443E;*/
	background: -webkit-linear-gradient(#55443E, #5C4E49);
	background: -o-linear-gradient(#55443E, #5C4E49); 
  	background: -moz-linear-gradient(#55443E, #5C4E49); 
  	background: linear-gradient(#55443E, #5C4E49); 
	color: #fff;
	margin: 0 auto;
	text-align: left;
}

header a {
	color: #D0C6C6;
	text-decoration: none;
	-webkit-transition: .5s;
	transition: .5s;
}

header a:hover {
	color: #339966;
	text-decoration: underline;
	-webkit-transition: .5s;
	transition: .5s;
}

header .menu {
	z-index: 1;
}

.menu {
	padding: 10px;
}

/* menu */
.menu .btn {
	padding: 5px 15px;
	font-size: 18px;
}

.menu ul li {
	display: inline-block;
	margin: 10px 5px;
	font-size: 18px;
}

/* NAVIGATION */
ul li {
	list-style: none;
}

/* ABOUT SECTION */
.about {
	text-align: justify;
	margin: 5px;
}


/* HOW IT WORKS */
.how-it {
	max-width: 100%;
	background-color: rgba(51, 153, 102, 0.45);
	padding: 15px 0 25px;
	max-width: 0 auto;
}

.box {
	max-width: 760px;
	padding: 5px;
	margin: auto;
	text-align: center;
}

.how-it .box img {
	max-width: 50px;
}

.box p {
	margin: 10px;
	text-align: center;
	font-size: 18px;
}

/* MEET THE TEAM */
.meet-the-team {
	max-width: 950px;
	margin: 0 auto;
	padding: 15px 25px;
	text-align: center;
}

.meet-the-team img {
	border-radius: 100%;
	max-width: 100%;
	margin: 18px 15px;

}

.meet-the-team p {
	margin: 5px;
	text-align: center;
}

.meet-the-team h2 {
	margin: 20px 0;

}

.meet-the-team h3 {
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
	padding-left: inherit;
}

/* SLIDER SECTION */

.slider-section {
	margin: 0 auto;
}

.cat-bg {
	width: 100%;
	height: 500px;
	background: url('../img/sleepy-cat.jpg') center no-repeat;
	position: relative;
	background-size: cover;
	border-top: 1px solid #E0E0E0;
}

.colour-layer {
	background-color: rgba(195, 159, 150, 0.65);
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 500px;
}

.quote {
	text-align: right;
	margin: 5% 20% 15% 10%;
	padding: 100px 0 50px;
	color: #FFFCF7;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #301F17;
}

.quote h1 {
	font-size: 2.8em;
}

.quote h4 {
	font-size: 1.8em;
}

/* FOOTER */
footer {
	width: 100%;
	background-color: #422A20;
	color: #FBFBFB;
	padding: 50px 35px 50px;
}

footer a {
	color: #D0C6C6;
	text-decoration: none;
	-webkit-transition: .5s;
	transition: .5s;
}

footer a:hover {
	color: #339966;
	text-decoration: none;
	-webkit-transition: .5s;
	transition: .5s;
}

.social-media .fa {
	margin: 5px;
	font-size: 35px;
}

/* MEDIA QUERIES */
