/*-------------- MEDIA QUERIES --------------*/

/* For mobiles and tablets*/

@media screen and (min-width: 320px) {
	.social-icon {
		display: none;
	}

	/*************************
	PAGE: ABOUT
	*************************/

	.profile-photo {
		float: left;
		margin: 0 5% 80px 0;
	}

	/*************************
	NAVIGATION
	*************************/
	nav {
		font-size: .9em;
		padding-top: 2%;
	}


}

@media screen and (min-width: 400px) {
	.entry {
		width: 100% !important;
		margin-left: -5% !important;
		clear: none !important;
	}


}

@media screen and (min-width: 485px) {
	.entry {
		width: 100% !important;
		margin-left: -5% !important;
		clear: none !important;
	}

	/*************************
	TWO COLUMN LAYOUT
	*************************/

	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}

	/*************************
	TWO COLUMN LAYOUT: ABOUT PAGE
	*************************/

	#firstColumn {
		width: 43%;
		float: left;
		margin-top: 2%;
}

	#secongColulmn {
		width: 51%;
		float: right;
		margin-right: 3.056%;
}

}

@media screen and (min-width: 500px) {

	.entry {
		width: 100% !important;
		margin-left: -5% !important;
		clear: none !important;
	}

	.social-icon {
		display: inline;
	}

	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		padding-top: 1%;
		text-align: right;
		width: 100%
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.3em;
		margin-bottom: 20px;
	}

	nav a.selected, nav a:hover {
	color: rgba(34, 33, 45, 0.75);
}


}

@media screen and (min-width: 1220px) {

	.entry {
		width: 28% !important;
		float: left !important;
		margin: 2% !important;
		height: 20% !important;
	}

	nav a {
		font-size: 1.2em;
		padding-top: 1%;
	}


}

