/*-------------- MAIN --------------*/

html,
body {
	min-width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: 'Raleway', 'sans-serif';
	background-color: #ECEAE7;
}

p {
	color: #666;
}

::selection {
	color: #000;
	background: rgba(110,235,192,0.3);
	text-shadow: none;

}


#body {
	min-width: 100%;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

#header {
	max-width: 100%;
/*	background: #73eac1;*/
	height: 350px;
	position: relative;
}

.first {
	background: url('../img/mountain.jpg') no-repeat center -15px;
}


#content-1 {
	max-width: 940px;
	background: #fbfbfa;
	text-align: justify;
	padding: 2% 20% 2%;
}

/*-------------- SKILL CONTAINER --------------*/

.skillContainer {
	width: 65%;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 17%;
}


.entry {
	width: 28%;
	float: left;
	margin: 2%;
	height: 20%;
}

figure {
	display: block;
	width: 100%;
	height: 75%;
	margin: 1%;
	padding: 3.5%;
	text-align: center;
}

figcaption {
	padding-left: 0.5%;
	font-size: 1em;
	font-weight: 600;
}

.mint {
	background-color: #c3fde1;
}

.lavander {
	background-color: #d8d7de;
}

.sand {
	background-color: #f7f0e0;
}

.caption1 {
	color: #0d5e6c;
}

.caption2 {
	color: #463750;
}

.caption3 {
	color: #753040;
}

/*-------------- ABOUT PAGE --------------*/

.second {
	background: url('../img/beach.jpg') no-repeat center -15px;
}

#about-1 {
	float: left;
	width: 220px;
	padding: 20px 0 0 175px;
	background: #FFF;
}

.about-2 {
	float: right;
	width: 700px;

}

#about-2-1 {
	float: left;
	width: 390px;
	padding: 10px 15px 30px 0;
	text-align: justify;
	position: relative;
}

#about-2-2 {
	float: right;
	width: 220px;
	padding: 0 175px 0 10px;
}

/* profile photo */
.profilePhoto {
	border: 10px #F4F4F4 solid;
	border-radius: 100%;
	width: 150px;
	height: 150px;
}

/* contact info */
.contactInfo {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.95em;
}

.contactInfo a {
	min-height: 1%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 25px;
	margin: 0 0 8px;
}

.contactInfo li.phone a {
	background-image: url('../img/phone.png');
}

.contactInfo li.email a {
	background-image: url('../img/mail.png');
}

ol li {
	list-style: none;
}


/*-------------- WORK PAGE --------------*/

.third {
	background: url('../img/mountain.jpg') no-repeat center -15px;
}


/*-------------- FOOTER --------------*/

#footer {
	text-align: center;
	padding: 30px 0 25px 0;
	background-color: #f1f1f1;
	clear: both;

}

.copyright {
	font-size: 0.7em;
	color: #777777;

}

.social-icon {
	margin: 0 0 0 0;
}

/* picture hover effect */
.social-icon {
	-webkit-filter: grayscale(100%);
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
		transition: all .3s linear;
}
 
.social-icon:hover {
  -webkit-filter: grayscale(0%);
}

/*-------------- HEADINGS--------------*/

h1, h2 {
	text-align: center;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	color: #111;
}

h2 {
	font-size: 1em;
	color: #bbb;
}

h3 {
	font-size: 1.2em;
	color: #bbb;
}

/*-------------- NAVIGATION --------------*/

nav ul {
	list-style: none;
	float: right;
	margin-right: 2px;
	padding-right: 45px;
	text-transform: uppercase;
	font-weight: 500;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: rgba(34, 33, 45, 0.65);
}

/* nav transition effect */
nav a {
	transition: color .2s linear;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-o-transition: color .2s linear;
}

a {
	text-decoration: none;
	font-family: 'Ubuntu', 'sans-serif';
}

ul li {
	display: inline;
	padding: 10px 10px;
}

/*-------------- COLORS --------------*/

/* links */
a {
	color: rgba(121, 116, 124, 0.95);
}

/* nav link */
nav a, nav a:visited {
	color: rgba(121, 116, 124, 0.95);
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: rgba(34, 33, 45, 0.95);
}














