body {
	background-color: #000;
}

div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("../img/board.jpg") no-repeat;
}

div#messageArea {
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgb(22, 51, 255);
	font-size: 28px;
}

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td {
	width: 94px;
	height: 94px;
}

form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: rgb(13, 29, 143);
}

form input {
	background-color: rgb(185, 194, 255);
	border-color: rgb(22, 51, 255);
	font-size: 1em;
}


.hit {
	background: url("../img/ship.png") no-repeat center center;
}

.miss {
	background: url("../img/miss.png") no-repeat center center;
}












