body,
html {
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#header{
    width: 100%;
    text-align: center;
    height: 560px;
    background: url(../img/computer.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 1px #000 solid;
}

.layer {
    background-color: rgba(7, 9, 11, .4);
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    color: #5c5a56;
}

p {
    font-family: 'Lato', sans-serif;
    color: #07090b;
}

/* ------------- WORK SECTION ------------- */


/* ------------- ABOUT SECTION ------------- */
.profile-image img {
    padding: 10px;
}

.info p {
    padding: 10px;
    text-align: justify;
    font-size: 13px;
}


/* ------------- CONTACT FORM -------------- */



/* ------------- FOOTER SECTION ------------- */
 #footer {
    background-color: #bac3bf;
    height: 100px;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
 }

.copyright p {
	text-align: center;
    font-size: 1em;
}