/* RESET */

body, div, h1,h2, form, fieldset, input, textarea, footer, p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

/* FONT */
@font-face {
	font-family: 'YanoneKaffeesatzRegular';
		src: url('../font/yanonekaffeesatz-regular-webfont.eot');
		src: url('../font/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('../font/yanonekaffeesatz-regular-webfont.woff') format('woff'),
			url('../font/yanonekaffeesatz-regular-webfont.tff') format('truetype'),
			url('../font/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
			font-weight: normal;
			font-style: normal;
}

/* MAIN */

body {
	background: #fffbf8;
	color: #7c7873;
	font-family: 'YanoneKaffeesatzRegular';
}

p {
	text-shadow: 0 1px 0 #fff;
	font-size: 24px;
}

#wrap {
	width: 530px;
	margin: 20px auto 0;
	height: auto;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 48px;
	text-shadow: 0 1px 0 #ede8d9;
}

h2 {
	text-align: center;
	margin-bottom: 20px
}

#form_wrap {
	margin-top: 35px;
	overflow: hidden;
	height: 446px;
	position: relative;
	top: 0px;
}

#form_wrap:before {
	content: "";
	position: absolute;
	bottom: 128px;
	left: 0;
	background: url('../img/before.png');
	width: 530px;
	height: 316px;
}

#form_wrap:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: url('../img/after.png');
	width: 530px;
	height: 260px;
}

#form_wrap:hover {
	height: 776px;
	top: -220px;
}

form {
	background: #f7f2ec url('../img/leter_bg.png');
	position: relative;
	top: 200px;
	overflow: hidden;
	height: 200px;
	width: 400px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
}

#form_wrap:hover form {
	height: 530px;
}

/* FORM ELEMENTS */

label {
	margin: 11px 20px 0 0;
	font-size: 16px;
	color: #b3aba1;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}

input[type=text], textarea {
	font: 14px normal normal uppercase helvetica, arial, sans-serif;
	color: #7c7873;
	background: none;
	width: 380px;
	height: 36px;
	padding: 0px 10px;
	margin: 0 0 10px 0;
	border: 1px solid #f8f5f1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 1px #726959;
	-webkit-box-shadow: inset 0px 0px 1px #b3a895;
	box-shadow: inset 0px 0px 1px #b3a895
}

textarea {
	height: 80px;
	padding-top: 14px;
}

textarea:focus, input[type=text]:focus {
	background: rgba(255,255,255, .35);
}

#form_wrap input[type=submit] {
	position: relative;
	font-family: 'YanoneKaffeesatzRegular';
	font-size: 24px;
	color: #7c7873;
	text-shadow: 0 1px 0 #fff;
	width: 100%;
	text-align: center;
	opacity: 0;
	background: none;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#form_wrap:hover input[type=submit] {
	z-index: 1;
	opacity: 1;
}

#form_wrap:hover input:hover[type=submit] {
	color: #435c70;
}

/* TRANSITIONS */
 #form_wrap, form {
 	-webkit-transition: all 1s ease-in-out .3s;
 	-moz-transition: all 1s ease-in-out .3s;
 	-o-transition: all 1s ease-in-out .3s;
 	transition: all 1s ease-in-out .3s;
 }

#form_wrap input[type=submit] {
	-webkit-transition: opacity .6s ease-in-out 0s;
	-moz-transition: opacity .6s ease-in-out 0s;
	-o-transition: opacity .6s ease-in-out 0s;
	transition: opacity .6s ease-in-out 0s;
}

#form_wrap:hover input[type=submit] {
	-webkit-transition: opacity .5s ease-in-out 1.3s;
	-moz-transition: opacity .5s ease-in-out 1.3s;
	-o-transition: opacity .5s ease-in-out 1.3s;
	transition: opacity .5s ease-in-out 1.3s;
}


#form_wrap.hide:after, #form_wrap.hide:before  {
	display:none;
}

#before {
	position:absolute;
    bottom:128px;left:0px;
	background:url('images/before.png');
	width:530px;
	height: 316px;
}
     
#after {
	position:absolute;
    bottom:0px;left:0;
    background:url('images/after.png');
    width:530px;
    height: 260px;
}





















