
@media screen and (min-width: 480px) {
	
	/*************************
	THREE COLUMN LAYOUT
	*************************/

#secondary ul {
	list-style: none;
	list-style-image: none;
	margin-top: -160%;
	margin-right: 40px;

}

.contactInfo {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.95em;
}

.contactInfo a {
	min-height: 1%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 9px;
}

.contactInfo li.phone a {
	background-image: url('../img/phone.png');
}

.contactInfo li.email a {
	background-image: url('../img/mail.png');



	/*************************
	PAGE: ABOUT
	*************************/

.profilePhoto {
	float: left;
	margin: 0 5% 80px 0;
	}

}


@media screen and (min-width: 600px) {

	/*************************
	HEADER
	*************************/


	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
	}

	nav a.selected, nav a:hover {
	color: rgba(34, 33, 45, 0.85);
}







	
	
}