/*************************
GENERAL
*************************/
body {
	margin: 0;
	line-height: 1.4;
	font-family: 'Overlock', cursive;
	background-color: #F6F6F6;
}

a {
	text-decoration: none;
}



.birds {
	width: 100%;
	height: 300px;
	background: url(../img/birds.JPG) center;
	background-size: 1440px 964px;
	border-bottom: #101010 3px solid;
}


.wrapper {
	width: 1000px;
	position: relative;
	margin: 0 auto;

}


/*************************
MAIN PAGE INTRO
*************************/


.homeIntro h1 {
	text-align: center;
	margin-bottom: 8px;
	font-weight: 300;
	font-family: 'Overlock SC', cursive;
}

.homeIntro .subline {
	display: block;
	text-align: center;
	color: #bbb;
	font-family: 'Overlock', cursive;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
	letter-spacing: 3px;
}

.homeIntro p {
	width: 80%;
	font-size:  17px;
	line-height: 1.6em;
	color: #666;
	font-family: 'Overlock', cursive;
	text-align: justify;
	margin: 1% auto;
}


.spline {
	width: 100%;
	padding: 50px 0;
}



/*************************
SKILL SECTION
*************************/

#skillContainer {
	margin: 0;
	/*padding: 0 0 0px 350px;*/
	padding-left: 34.375%;
	display: block;
}

#skillContainer li {
	float: left;
/*	margin: 3%;
*/	color: #BDC3C7;
	list-style: none;
/*	margin: 5px 26px;*/

}

/*************************
PAGE: ABOUT
*************************/

#about {
	margin: 0 auto;
	padding: 0 5%;
	max-width: 940px;
}


.profilePhoto {
	display: inline-block;
	max-width: 150px;
	margin: -60px 30px 40px;
	border-radius: 100%;
	border: #101010 3px solid;
	float: left;
}


#primary p {
	text-align: justify;
	width: 640px;

	
}

/*************************
PAGE: ABOUT + CONTACT
*************************/

#secondary {
	float: right;

}

#secondary ul {
	list-style: none;
	list-style-image: none;
	margin-top: -190px;
	margin-right: 40px;
}

.contactInfo {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.95em;
}

.contactInfo a {
	display: block;
	min-height: 10px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 9px;
}

.contactInfo li.phone a {
	background-image: url('../img/phone.png');
}

.contactInfo li.email a {
	background-image: url('../img/mail.png');
}

/*************************
HEADING
*************************/
header {
	height: 90px;
}

header nav {
	position: absolute;
	right: 55px;
	top: 28px;

}

header nav ul li {
	display: inline;
	margin-left: 22px;
}

header nav ul li a:hover, header nav ul li a.active {
	color: rgba(200, 200, 200, 0.9);
}

header nav ul li a {
	text-decoration: none;
	font-family: 'Overlock', cursive;
	color: rgba(178, 178, 178, 0.8);
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	font-size: 16px;

}



/*************************
NAVIGATION
*************************/
nav ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #F0F0F0;
}



/*************************
FOOTER
*************************/
footer {
	font-size: 0.85em;
	text-align: center;
	clear: both;
	padding-top: 20px;
	padding-bottom: 5px;
	color: #A1A1A1;
	background-color: #E6E6E6;
	border-top: #919191 1px solid;
}

.social-icon {
	width: 54px;
	height: 72px;
	margin: 0 5px;
}


/*************************
COLORS
*************************/

/* links */
a {
	color: rgba(178, 178, 178, 0.8);
}

/* nav link */
nav a, nav a:visited {
	color: rgba(178, 178, 178, 0.8);
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: rgba(200, 200, 200, 0.9);
}








